<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.bibliotales">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookReader">

        <!-- Activity principal - Forzar horizontal -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- PdfActivity - Libre rotación -->
        <activity
            android:name=".ui.PdfActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!-- Todas las demás actividades - Forzar horizontal -->
        <activity
            android:name=".ui.Ajustes"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.Biblioteca"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.FiltroLibros"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.Foros"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.Libros"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.SubirLibro"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.PerfilUsuario"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.EditarUsuario"
            android:exported="false"
            android:screenOrientation="landscape"
            android:parentActivityName=".ui.PerfilUsuario" />

        <activity
            android:name=".ui.Registrarse"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.Login"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />

    </application>

</manifest>